# Core dependencies
cryptography == 44.0.0
fastapi == 0.115.6
langchain == 0.3.13
langchain-chroma == 0.1.4
langchain-community == 0.3.13
langchain-openai == 0.2.14
psycopg2 == 2.9.10
pymysql == 1.1.1
uvicorn == 0.34.0

# Build and Packaging Tools
setuptools == 75.6.0
setuptools-scm == 8.1.0

# Development tools
loguru == 0.7.3
python-dotenv == 1.0.1 

# Web framework and UI
streamlit == 1.41.1

# Local package
-e .
